body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top{
    padding: 20px;
    background-image: url(images/donation6.jpg);
    border: 0;
    background-size: cover;



}
h1{
    font-size: 80px;
    text-align: center;
    
}
p{
    color: white;
    padding: 40px;
}
.margin{
    margin: auto;
}
.button{
    position: absolute;
    top: 70%;
    left: 45%;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 800;
}
.section{
    padding: 0%;
    margin: 0%;
}
.section2{
    display: flex;
    padding: 20px;
    margin: 20px;
    margin-left: 100px;
    padding-left: 60px;
}

h2{
    font-size: 40px;
    padding: 20px;
}
.form{
    padding-left: 45%;
    font-size: medium;
}
.button1{
    background-color: tomato;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 800;
    padding-top: 2px;
    ;
}
.box{
    
    
    width: 300px;
    padding: 20px 20px;
   
    margin: 40px;
     background-color: skyblue;

}
.section3{
    display: flex;
    padding: 10px;
    margin: 10px;
}
.box2{
    width: 300px;
    
    padding: 20px 20px;
    margin: 40px;
    background-color: bisque;
}
.box3{
    width: 300px;
    margin: 40px;
    padding: 20px 20px;
    background-color: aqua;
}
.section4{
    display: flex;

}
.width{
    width: 50%;
    padding: 20px;

}
.button4{
    background-color: tomato;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 40px;
}
.section5{
    display: flex;

}
.width1{
    width: 50%;
    padding: 20px;
}
.button5{
    background-color: tomato;
    color:white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 40px;
}
.text{
    padding: 20px;
    border: 20px 20px;
}
.footer{
    
    left: 0%;
    bottom: 0%;
    background-color: black;
    text-align: center;
    width: 100%;
    color: white;
}
.email{
    padding: 20px;
    margin-left: 40%;
    size: 50px;
}
.button6{
    background-color: brown;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
    color:white;
    
}