body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top{
    padding: 20px;
    background-image: url(images/donation6.jpg);
    border: 0;
    background-size: cover;


}
h1{
    font-size: 80px;
    text-align: center;
    color: white;
}
p{
    color: white;
    padding: 40px;
}
.margin{
    margin: auto;
}
.button{
    position: absolute;
    top: 70%;
    left: 45%;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: tomato;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 800;
}
.section{
    padding: 0%;
    margin: 0%;
}

